<%= provide(:title, "All categories") %>
<div class="row">
 <div class="col-md-6 col-md-offset-3">
  <div class="row index">
    <table class="table table-bordered index-table">
        <tbody>
            <tr>
             <th>title</th>
             <th>description</th>
             <th>Settings</th>
            </tr>
            <%= render @categories %>
        </tbody>
    </table>
  </div>
 </div>
</div>